In [4]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
import src.train_model as tm
import src.process_data as proda

import sqlalchemy as sql
import pandas as pd

In [ ]:
def test_getuserinput():
	engine_string = 'sqlite:///msia423.db'
	df = proda.getuserinput(engine_string=engine_string,tablename="UserInput")
	return df

In [14]:
query = "SELECT * FROM userinput"
engine_string = 'sqlite:///msia423.db'

engine = sql.create_engine(engine_string)
df = pd.read_sql(query,con=engine)

In [24]:
df

   id                    movie  rating
0   1                 Iron Man     5.0
1   2                     Thor     5.0
2   3             Spider-man 2     5.0
3   4  Avengers: Age of Ultron     5.0

In [12]:
engine.table_names()

['movies', 'ratings', 'userinput']

In [22]:
expected=pd.DataFrame([[1, 'Iron Man', 5.0],
       [2, 'Thor', 5.0],
       [3, 'Spider-man 2', 5.0],
       [4, 'Avengers: Age of Ultron', 5.0]])
expected.columns=['id','movie','rating']

In [23]:
newdf[]

   0                        1    2
0  1                 Iron Man  5.0
1  2                     Thor  5.0
2  3             Spider-man 2  5.0
3  4  Avengers: Age of Ultron  5.0

In [26]:
import pandas as pd

In [46]:
testdf = pd.read_csv('movies.csv').head()

In [47]:
testdf.values

array([[1, 'Toy Story (1995)',
        'Adventure|Animation|Children|Comedy|Fantasy'],
       [2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'],
       [3, 'Grumpier Old Men (1995)', 'Comedy|Romance'],
       [4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'],
       [5, 'Father of the Bride Part II (1995)', 'Comedy']], dtype=object)

In [48]:
testdf.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [49]:
testdf

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
import src.process_data as proda
import pandas as pd

In [50]:
expected = proda.procmovies(testdf)

In [51]:
expected

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [52]:
expected.values

array([[1, 'Toy Story', 'Adventure|Animation|Children|Comedy|Fantasy',
        '1995'],
       [2, 'Jumanji', 'Adventure|Children|Fantasy', '1995'],
       [3, 'Grumpier Old Men', 'Comedy|Romance', '1995'],
       [4, 'Waiting to Exhale', 'Comedy|Drama|Romance', '1995'],
       [5, 'Father of the Bride Part II', 'Comedy', '1995']], dtype=object)

In [53]:
expected.columns

Index(['movieId', 'title', 'genres', 'year'], dtype='object')